 {% load staticfiles i18n %} {% block head %}
<link href="{% static 'css/signup.css' %}" rel="stylesheet"> {% endblock head %} {% block body %}
<div class="signet-welcome">
    <div class="signet-welcome-container">
        <div class="signet-welcome-content">
            <h1>SIGNET</h1>
            <span>invision enterprise edition</span>
            <p>The First Social Network for Professional commuinties</p>
            <a href="{% url 'home' %}" class="btn btn-signup">{% trans 'HAVE ACCOUNT' %}</a>
        </div>
    </div>
    <ul class="social-networks bounce">
        <li><a href="https://www.linkedin.com/" class="icon-linkedin">LinkedIn</a></li>
        <li><a href="https://twitter.com/" class="icon-twitter">Twitter</a></li>
        <li><a href="https://www.facebook.com/" class="icon-facebook">Facebook</a></li>
        <li><a href="https://github.com" class="icon-github">GitHub</a></li>
        <li><a href="https://instagram.com" class="icon-instagram">Instagram</a></li>
    </ul>
</div>

<div class="wrapper">
    <div class="container">
        <h3>Sign up for <span>SIGNET</span></h3>
        <p>Enter your details below.</p>
        <div class="signup">
            <form action="{% url 'signup' %}" method="post" role="form">
                {% csrf_token %} {% for field in form.visible_fields %}
                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    {% if field.auto_id == 'id_username' %}
                        <span class="fontawesome-user"></span>
                    {% elif field.auto_id == 'id_email' %}
                        <span class="fontawesome-envelope"></span>
                    {% elif field.auto_id == 'id_password' or field.auto_id == 'id_confirm_password' %}
                        <span class="fontawesome-lock"></span>
                    {% endif %}
                    {{ field }}
                    {% if field.help_text %}
                    {{ field.help_text|safe }} {% endif %} {% for error in field.errors %}
                    <label class="control-label">{{ error }}</label> {% endfor %}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary btn-lg">{% trans 'Create an account' %}</button>
            </form>
        </div>
    </div>
    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

</div>

{% endblock body %}
